*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  // -webkit-tap-highlight-color: transparent;
}

html {
  // equals to 1rem or 10px
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}
body {
  box-sizing: border-box;
  @include body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg-color);
  color: var(--text-color);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: block;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
    &:hover {
      background-color: #b3b3b3;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    &:active {
      background-color: #999999;
    }
  }
}
