main {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
}

.profile,
.bookings {
  margin-bottom: 40px;
}

.profile h3,
.bookings h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333333;
}

.profile p,
.bookings ul {
  text-align: left;
  margin-bottom: 20px;
  color: #666666;
}

.profile strong,
.bookings strong {
  font-weight: bold;
}

.bookings ul li {
  margin-bottom: 20px;
  list-style-type: none;
  border-top: 1px solid #dddddd;
  padding-top: 10px;
}

.bookings ul li:first-child {
  border-top: none;
  padding-top: 0;
}
