.user-dashboard {
  @include main;

  &__container {
    @include container;
  }
  &__header {
    @include header;
  }
}

.user-profile {
  &__header {
    font-size: 20px;
    margin-bottom: 10px;
    @include header;
  }

  &__info {
    text-align: left;
    margin-bottom: 1rem;
  }
}
