.user-dashboard {
  @include main;

  &__container {
    @include container;
  }
  &__header {
    @include header;
  }
}

.user-profile {
  &__header {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__info {
    text-align: center;
    margin-bottom: 1rem;
    &--name {
      text-transform: capitalize;
    }
  }
}
