.button {
  font-family: inherit;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: $color-accent;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  box-shadow: $box-shadow;
  font-size: $default-font-size;
  color: $color-white;
  cursor: pointer;
  &:hover {
    background-color: $color-accent-h;
  }
}
// .ml-button {
//   margin-left: 1rem;
// }
