.session-booking {
  @include main;
  &__container {
    @include container;
  }
  &__header {
    @include header;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__label {
    margin-bottom: 10px;
    color: #666666;
  }

  input,
  select {
    @include input;
  }
}
