.welcome {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(#160a5a00, 0.8),
      rgba(#09092900, 0.8)
    ),
    url(./../../img/scott-graham-5fNmWej4tAA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__head {
    font-size: 7rem;
    margin-bottom: 2rem;
    color: $color-accent;
    @include heading-font;
  }
  &__info {
    font-size: 2rem;
    margin-bottom: 4rem;
    color: $background-color;
    width: 50%;
  }
  &__link {
    text-decoration: none;
    color: $color-white;
    font-family: inherit;
  }
}
