.header {
  background-color: $color-white;
  padding: 2rem 0;
  box-shadow: 0 5px 2rem 3px rgba($color-black, 0.1);
  height: 6rem;
  z-index: 10;

  &__container-1,
  &__container-2 {
    margin: 0 auto;
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // @include respond(phone) {
    //   width: 90%;
    // }
  }

  &__logo {
    font-size: 3rem;
    // font-weight: 800;
    color: $color-black;
    @include heading-font;
    // @include respond(phone) {
    //   font-size: 1.6rem;
    // }
  }
  &__search {
    @include input;
    margin-bottom: 0;
  }
  &__entry {
    display: flex;
    align-items: center;
  }
  &__register,
  &__login {
    color: $color-white;
    text-decoration: none;
    font-family: inherit;
  }
  &__login {
    margin-left: 1rem;
  }
  &__services,
  &__history,
  &__logout {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    &:hover {
      color: $color-accent;
    }
  }
  &__services {
    margin-right: 2rem;
  }
}
