.booking {
  padding-bottom: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 2rem;
  }

  &__info {
    color: $secondary-text;
    margin-bottom: 5px;
    // strong {
    //   color: $primary-text;
    // }
  }
}
