.booking {
  margin-bottom: 2rem;
  list-style-type: none;
  border-top: 1px solid #dddddd;
  padding-top: 1rem;
  &__info {
    text-align: left;
    margin-bottom: 1rem;
    color: $secondary-text;
    span {
      color: $primary-text;
    }
  }
  &:first-child {
    border-top: none;
    padding-top: 0;
  }
}
